:root {
  --main-color: #ffffff;
  --main-links-color: #2196f3;
  --studio-header-color: #000000;
  --link-description-color: #212121;
  --adress-benefits-color: #757575;
  --hero-footer-bgc: #2f303a;
  --filtres-btn-color: #f5f4fa;
  --defoult-space-between: 30px;
  --items: 4;
  --header-underline-width: 100%;
  --fast-anim: 150ms;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.hero {
  max-width: 1600px;
  background-color: var(--hero-footer-bgc);
  margin: 0 auto;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index/hero/bg-hero-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/hero/bg-hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  /* txt styles */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  /* txt align */
  margin: auto;
  width: 700px;
  text-align: center;
}

.hero__button {
  /* btn */
  width: 216px;
  height: 50px;
  border: none;
  background: var(--main-links-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  /* btn txt */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-color);
  /* btn align */
  display: block;
  margin: auto;
  margin-top: 30px;
}

.benefits {
  line-height: 1.7142857143;
  color: var(--adress-benefits-color);
}

.benefits__container {
  width: 1200px;
  margin: 0 auto;
  padding: 90px 15px 0 15px;
}

.benefits__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--defoult-space-between);
  padding: 0;
}

.benefits__item {
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 270px;
}

.benefits__svg-container {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.benefits__svg {
  width: 70px;
  height: 70px;
}

.benefits__title {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--link-description-color);
  margin-bottom: 10px;
}

.responsibilities {
  padding: 0px 0;
}

.responsibilities__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  gap: var(--defoult-space-between);
}

.responsibilities__item {
  height: 294px;
}

.responsisbilities__thumb {
  position: relative;
}

.responsibilities__overlay {
  position: absolute;
  bottom: 4px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.responsibilities__overlay-txt {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.our-team {
  background-color: #F5F4FA;
  padding: 0px 0px;
  margin: 0 auto;
}

.our-team__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--defoult-space-between);
  margin: 0;
  padding-left: 0;
}

.our-team__item {
  /* txt prop */
  width: 270px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  /* box prop */
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  color: var(--link-description-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.position {
  color: var(--adress-benefits-color);
  margin-bottom: 16px;
}

.socials__href--our-team {
  background-color: #fff;
  border: 1px solid #fff;
  color: #AFB1B8;
}

.customers {
  padding: 0px 0;
}

.customers__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--defoult-space-between);
}

.customers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
}

.customers__href {
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 5px;
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.customers__href:hover, .customers__href:focus {
  color: var(--main-links-color);
  border-color: var(--main-links-color);
}

.customers__svg {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color, var(--fast-anim);
  transition: background-color, var(--fast-anim);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 528px;
  min-height: 580px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transition: opacity, var(--fast-anim), -webkit-transform;
  transition: opacity, var(--fast-anim), -webkit-transform;
  transition: transform, opacity, var(--fast-anim);
  transition: transform, opacity, var(--fast-anim), -webkit-transform;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translateX(-50%) translateY(-70%);
          transform: translateX(-50%) translateY(-70%);
  opacity: 0;
}

.modal-close-button {
  padding: 4px;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.modal-close-button:hover,
.modal-close-button:focus {
  border: solid 1px var(--main-links-color);
  fill: var(--main-links-color);
}

.modal-form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 5px;
}

.modal-form__wrapper {
  margin-bottom: 10px;
  position: relative;
}

.modal-form__field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  margin: 0;
  padding-left: 40px;
  font-size: 14px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--fast-anim);
          transition-duration: var(--fast-anim);
}

.modal-form__field:focus {
  outline: none;
  border-color: var(--main-links-color);
}

.modal-form__svg {
  position: absolute;
  top: 0;
  left: 14px;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--fast-anim);
          transition-duration: var(--fast-anim);
}

.modal-form__field:focus + .modal-form__svg {
  fill: var(--main-links-color);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  resize: none;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--fast-anim);
          transition-duration: var(--fast-anim);
}

.modal-form__message:focus {
  border-color: var(--main-links-color);
  outline: none;
}

.modal-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
}

.modal-form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 17px;
  height: 17px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.modal-form__checkbox:checked {
  /* color: var(--main-links-color); */
  background-color: var(--main-links-color);
  border-color: var(--main-links-color);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.checkbox__agreement-description {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__agreement-link {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: #2196F3;
}

.modal-form__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form__btn {
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  background-color: var(--main-links-color);
  color: #FFFFFF;
}

.filtres-list {
  list-style: none;
  margin: auto;
  padding: 0 0 50px 0;
  /* flex prop */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filtres-items {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--link-description-color);
}

.filtres-buttons {
  /* btn styles */
  border: none;
  border-radius: 4px;
  border-color: var(--filtres-btn-color);
  background-color: var(--filtres-btn-color);
  height: 38px;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  /* btn txt styles */
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-description-color);
}
.filtres-buttons:hover, .filtres-buttons:focus {
  background: var(--main-links-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--main-color);
}

.products__list {
  list-style: none;
  padding: 0;
  margin: 0;
  /* flex prop */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.product__text {
  padding: 0 25px 25px 25px;
}

.product__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--link-description-color);
}

.product__class {
  margin: 0;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--adress-benefits-color);
}

.product__item {
  border: #eeeeee solid 1px;
  width: 370px;
}
.product__item:hover, .product__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-duration: var(--fast-anim);
          transition-duration: var(--fast-anim);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: var(--fast-anim), -webkit-transform;
  transition: var(--fast-anim), -webkit-transform;
  transition: transform, var(--fast-anim);
  transition: transform, var(--fast-anim), -webkit-transform;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 90px 15px;
}

/* GRID SETTINGS */
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--defoult-space-between);
}

.grid-item {
  -ms-flex-preferred-size: calc(100% - var(--defoult-space-between) * (var(--items) - 1) / (var(--items)));
      flex-basis: calc(100% - var(--defoult-space-between) * (var(--items) - 1) / (var(--items)));
}

.properties-titles {
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 0;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-description-color);
}

.transition-prop {
  -webkit-transition-duration: var(--fast-anim);
          transition-duration: var(--fast-anim);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, background-color, border-color, -webkit-box-shadow;
  transition-property: color, background-color, border-color, -webkit-box-shadow;
  transition-property: color, background-color, border-color, box-shadow;
  transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
}

.header--underline {
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contacts__adress {
  color: var(--adress-benefits-color);
}

.contacts__mail {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.contacts__adress:hover, .contacts__adress:focus {
  color: var(--main-links-color);
}

.nav {
  margin-right: auto;
}

.nav__list {
  list-style: none;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: 0;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.nav__item {
  position: relative;
}

.current-page::after {
  content: "";
  display: block;
  border-radius: 2px;
  width: var(--header-underline-width);
  height: 4px;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: var(--main-links-color);
  position: absolute;
}

.current-page-portfolio::after {
  content: "";
  display: block;
  border-radius: 2px;
  width: var(--header-underline-width);
  height: 4px;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: var(--main-links-color);
  position: absolute;
}

.nav__link-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--link-description-color);
}
.nav__link-item:hover, .nav__link-item:focus {
  color: var(--main-links-color);
}

.header__logo {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 95px;
}

.webstudio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.webstudio--web {
  color: var(--main-links-color);
}

.webstudio--studio-header {
  color: var(--studio-header-color);
}

.webstudio--studio-footer {
  color: var(--main-color);
}

.socials__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.socials__href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.socials__href:hover, .socials__href:focus {
  background-color: var(--main-links-color);
  color: #fff;
}

.socials__svg {
  fill: currentColor;
}

.footer {
  left: 0px;
  background-color: var(--hero-footer-bgc);
  padding: 0 0;
  margin: 0 auto;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav {
  margin-right: 85px;
}

.adresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}

/* footer adress */
.adresses__street {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.adresses__virtual {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* footer socials */
.footer-socials__title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.socials__href--footer {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(175, 177, 184, 0);
  color: #fff;
}

/* footer-form */
.footer-form-container {
  margin-left: auto;
}

.footer-form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 20px;
  gap: 12px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form__input {
  width: 358px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  height: 50px;
  color: #fff;
  padding-left: 15px;
  margin-right: 12px;
}
.footer-form__input:focus {
  outline: none;
}

.footer-form__btn {
  background-color: var(--main-links-color);
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  color: #fff;
  height: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-form__btn-txt {
  text-align: center;
  margin: 0;
  margin-right: 10px;
}