:root {
  --main-color: #ffffff;
  --main-links-color: #2196f3;
  --studio-header-color: #000000;
  --link-description-color: #212121;
  --adress-benefits-color: #757575;
  --hero-footer-bgc: #2f303a;
  --filtres-btn-color: #f5f4fa;
  --defoult-space-between: 30px;
  --items: 4;
  --header-underline-width: 100%;
  --fast-anim: 150ms;
}